header
  margin-top: $navbar-height-small

  >img
    width: 100%
  >h1
    font-size: 2rem
    font-weight: 500
    text-align: center
    padding: $vertical-spacer-small $side-spacing-small
    max-width: $max-width
    margin: 0 auto

  .intro
    padding: $vertical-spacer-small 0
    margin: 0 $side-spacing-small
    padding-top: 0!important
    border-bottom: 1px solid $text-color-dark-secondary
    text-align: center

    .wrapper
      text-align: left
      margin: 0 auto
      display: inline-flex
      flex-wrap: wrap

    main
      width: 100%
      max-width: 690px
      padding-right: $side-spacing-small

      >h2
        margin-bottom: 0
      summary
        display: flex
        flex-wrap: wrap
        article
          padding: 3rem 1rem 0 0
          box-sizing: border-box
          width: 100%

          .header
            font-weight: 500
            color: $text-color-dark
            text-transform: uppercase
            margin-bottom: .5rem
    aside
      font-weight: 300
      margin-top: 3rem
      color: $text-color-dark-secondary
      font-size: 1rem
      .collection
        margin-bottom: 1rem
        display: flex
        flex-direction: column
        &:last-child
          margin-bottom: 0
        .header
          font-weight: 500
          color: $text-color-dark
          text-transform: uppercase
        a
          color: $text-color-dark-secondary
          text-decoration: none
          transition: all 300ms
          &:hover
            color: $text-color-dark
      >a
        position: relative
        color: $text-color-dark
        font-weight: 500
        text-transform: uppercase
        text-decoration: none
        font-weight: bold
        margin-top: 1rem
        font-size: .8rem

        word-spacing: .1rem
        &:after
          position: absolute
          display: block
          content: ''
          background-color: $text-color-dark-secondary
          height: 2px
          width: 100%
        &:hover
          color: $color-main

  +mediaQ('md')
    margin-top: $navbar-height

    >h1
      font-size: 3rem
      padding: $vertical-spacer $side-spacing
      margin: 0 auto

    .intro
      padding: $vertical-spacer 0
      margin: 0 $side-spacing

      .wrapper
        flex-wrap: nowrap

      main
        padding-right: $side-spacing

      aside
        margin-top: 1rem

  +mediaQ('lg')
    .intro
      main summary article
        width: 50%
  +mediaQ('xl')
    .intro main
      max-width: 750px
