html, body{
  height: 100%;

  background-image: url("../images/takeoff-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-color: black;

  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-align: center;
}

.content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.content h2{
  font-size: 58px;
}

.content p{
  font-family: 'Open Sans';
  margin: 25px;
}
.content .italic{
  font-style: italic;
}
.btn{
  margin-top: 5px;
}
