body{
  margin-bottom: 30px;
}
.divider{
  margin: 60px 0;
}

/* TITLE SECTION
================================================================================
*/
.title{
  height: 500px;
  margin-bottom: 60px;
  background-image: url("../img/wood.jpg");
  text-align: center;
}
.title .container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title h1{
  color: #fff;
}

/* img border */
.img-circle{
  border: 7px solid #333;
}

/* ABOUT SECTION
================================================================================
*/
.about{
  text-align: center;
}

/* LINK SECTION
================================================================================
*/
.link{
  background-color: #333;
}
.link .container{
  text-align: center;
  color: #fff;
}
.link hr{
  max-width: 50px;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.link .row{
  padding-top: 10px;
  padding-bottom: 10px;
}
.link a{
  color: #fff;
}
