body{
  margin-bottom: 15px;
  color: #333;
}

/* TITLE SECTION
================================================================================
*/
.title{
  height: 500px;
  margin-bottom: 20px;
  background-image: url("../img/wood.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.title .container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title h1{
  color: #fff;
}

/* img border */
.img-circle{
  border: 7px solid #333;
}

/* ABOUT SECTION
================================================================================
*/
.about{
  text-align: center;
}

/* LINK SECTION
================================================================================
*/
.link{
  text-align: center;
}
.link a{
  color: #333;
}

.fa-spin-slow {
-webkit-animation: fa-spin 6s infinite linear;
animation: fa-spin 6s infinite linear;
}
