---
# master scss file
---

// Color variables
$dark-color: #3a3c3d;
$light-color: #fff;
$accent-color: #29B6F6;
$accent-color-dark: #2a2c2d;

// Random variables
$shadow: "0px 45px 30px -30px rgba(0,0,0,0.6)";

// Breakpoints
$bp-xsmall: 36em; // 576px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";

$mq-max-small: "(max-width: #{$bp-small})";
$mq-max-xsmall: "(max-width: #{$bp-xsmall})";

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@import "animation-page/theme";
@import "animation-page/scale";
@import "animation-page/animations/master";
