---
title: home
layout: default
---

{% include navbar.html style="light" %}

<header class="home">
  <div class="background"></div>
  <main>
    <h3>Hi, I'm Jesse</h3>
    <h1>Student, <span>Programmer</span> and <span>Designer</span> from the Netherlands</h1>
  </main>
  <i class="ion-ios-arrow-dropdown"></i>
</header>

<section id="portfolio">
  <header>
    <h2>I Create Delight.</h2>
    <p>
      Take a look at my portfolio below to see what I've got.
    </p>
  </header>

  <main>
    {% for i in (1..4) %}
    <a href="#" class="item">
      <div class="image" style="background-image: url('https://source.unsplash.com/random')"></div>

      <div class="details">
        <h3>Title Goes Here</h3>
        <div class="tags">
          <div class="tag"><i class="ion-md-pricetag"></i>Programming</div>
          <div class="tag"><i class="ion-md-pricetag"></i>Design</div>
        </div>
      </div>

    </article>
    {% endfor %}
  </main>

  <div class="cta">
    <a class="cta"href="{{ site.baseurl }}/work">view all projects</a>
  </div>
</section>

<section id="about">
  <header>
    <h2>My story</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officiadeserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officiadeserunt mollit anim id est laborum.
    </p>
  </header>

  <article>
    <div class="text">
      <h2>Programming</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officiadeserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="image"></div>
  </article>

  <article>
    <div class="image"></div>
    <div class="text">
      <h2>Design</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officiadeserunt mollit anim id est laborum.
      </p>
    </div>
  </article>

</section>
