---
title: work
layout: default
permalink: /work/
---
{% include navbar.html style="dark" %}

<header class="work fade-in now">
  <h1>My Portfolio:</h1>

  <div class="wrapper">
    <main>
      <h2>I Create Delight</h2>
      <p>
        Take a look at my portfolio below to see what I've got.
      </p>
    </main>
    <aside>
      <div class="header">tags</div>
      <a href="#">Programming</a>
      <a href="#">Design</a>
      <a href="#">Branding</a>
      <a href="#">UI/UX Design</a>
      <a href="#">Back-end</a>
      <a href="#">Front-end</a>
    </aside>
  </div><!-- /wrapper-->
</header>

<section id="portfolio">
  {% for i in (1..11) %}
  <a href="#" class="item fade-in">
    <div class="image" style="background-image: url('https://source.unsplash.com/random')"></div>

    <div class="details">
      <h3>Title Goes Here</h3>
      <div class="tags">
        <div class="tag"><i class="ion-md-pricetag"></i>Web Development</div>
        <div class="tag"><i class="ion-md-pricetag"></i>Web Design</div>
      </div>
    </div>
  </a>
  {% endfor %}
</section>

{% include cta.html %}
