/**
 * This file contains the scss related to the animations on the website.
 */

.header-top {
  // Site building animation
  opacity: 0;
  height: 0;
  animation: show-header 500ms linear forwards;
}

@keyframes show-header {
  100% {
    opacity: 1;
    height: $header-height-xs;
  }
}
@media #{$mq-small} {
  @keyframes show-header {
    100% {
      opacity: 1;
      height: $header-height-sm;
    }
  }
}
@media #{$mq-medium} {
  @keyframes show-header {
    100% {
      opacity: 1;
      height: $header-height-md;
    }
  }
}
@media #{$mq-large} {
  @keyframes show-header {
    100% {
      opacity: 1;
      height: $header-height-lg;
    }
  }
}


.header-img img {
  // Site building animation
  opacity: 0;
  animation: show-header-image 300ms 400ms ease-in-out forwards;
}
@keyframes show-header-image {
  0% {
    opacity: 0;
    transform: scale(.1) rotate(0deg);
  }
  70% {
    opacity: 1;
    transform: scale(1.12) rotate(370deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

.content .heading {
  opacity: 0;
  animation: scale-in 300ms 600ms ease-in forwards;
  transform-origin: top center;
}
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  60% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.section {
  opacity: 0;
  animation: scale-in 300ms 800ms ease-in forwards;
  transform-origin: top center;
}
