/**
 * This file contains the scss related to the scaling of the website across different viewports.
 */

.header-top {
  @media #{$mq-small} {
    background-attachment: fixed;
  }
}

 .header-img {
   top: $header-height-xs;
   img {
     width: 50%;
     margin-left: -25%;
   }
   @media #{$mq-small} {
     top: $header-height-sm;
     img {
       width: 35%;
       margin-left: -17.5%;
     }
   }
   @media #{$mq-medium} {
     top: $header-height-md;
     img {
       width: 20%;
       margin-left: -10%;
     }
   }
   @media #{$mq-large} {
     top: $header-height-lg;
     img {
       width: 15%;
       margin-left: -7.5%;
     }
   }
 }

 .content {
   top: $header-height-xs;
   padding-top: 30%;

   .heading {
     h1 {
       font-size: 2rem;
       @media #{$mq-max-xsmall} {
         font-size: 1.8rem;
       }
     }
     p {
       font-size: .8rem;
     }
   }

   @media #{$mq-small} {
     top: $header-height-sm;
     padding-top: 20%;
     .heading {
       h1 {
         font-size: 3rem;
       }
       p {
         font-size: 1rem;
       }
     }
   }
   @media #{$mq-medium} {
     top: $header-height-md;
     padding-top: 12%;

     .heading h1 {
       font-size: 3.5rem;
     }
   }
   @media #{$mq-large} {
     top: $header-height-lg;
     padding-top: 10%;

     .heading h1 {
       font-size: 4rem;
     }
   }
 }

 .skills i {
   font-size: 2rem;
   @media #{$mq-small} {
     font-size: 3rem;
   }
   @media #{$mq-medium} {
     font-size: 4rem;
   }
 }
