@import url('https://fonts.googleapis.com/css?family=Roboto:100,500')

body
  font-family: 'Roboto', sans-serif
  font-weight: 300

h2
  margin-bottom: 2rem
  font-weight: 100
  font-size: 2rem
  +mediaQ('md')
    font-size: 2.5rem
    margin-bottom: 3rem
p
  color: $text-color-dark-secondary
  font-weight: 100
  font-size: 1.1rem
  +mediaQ('md')
    font-size: 1.3rem
  a
    color: $text-color-dark
    text-decoration: none
    transition: color 300ms
    font-weight: 500
    &:hover
      color: $color-main

hr
  height: 0
  border: 0
  border-top: 1px solid rgba(black, .3)
  margin: 2rem 0

a.cta
  position: relative
  padding: 1rem 2rem
  color: $text-color-light
  background-color: $color-main
  border-radius: $border-radius
  font-weight: 500
  text-transform: uppercase
  text-decoration: none

  transition: all 200ms

  top: -4px
  left: -4px
  box-shadow: 2px 2px 0px #111, 4px 4px 0px $color-main
  &:hover
    box-shadow: none
    top: 0px
    left: 0px
