---
# Main SCSS file.
---
// Our accent color.
$main-color: #2a2c2d;

// Breakpoints
$bp-xsmall: 32em; // 513px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";

$mq-max-xsmall: "(max-width: #{$bp-xsmall})";

// scale variables.
$header-hight-xs: 20%;
$header-hight-sm: 25%;
$header-hight-md: 40%;
$header-hight-lg: 50%;

$line-height-xs: 0.8rem;
$line-height-sm: 0.8rem;
$line-height-md: 1rem;
$line-height-lg: 1.5rem;

// Imports
@import "theme";
@import "scale";
