---
title: home
layout: default
permalink: /
---

{% include navbar.html style="light" %}

<header class="home">
  <div class="background"></div>
  <main class="fade-in now">
    <h3>Hi, my name is Jesse</h3>
    <h1>Student, <span>Programmer</span> and <span>Designer</span> from the Netherlands</h1>
  </main>
  <i class="ion-ios-arrow-dropdown"></i>
</header>

<section id="portfolio">
  <header class="fade-in">
    <h2>I Create Delight.</h2>
    <p>
      Take a look at my portfolio below to see what I've got.
    </p>
  </header>

  <main>
    {% for post in site.posts limit:4 %}
    <a href="{{ post.url }}" class="item fade-in">
      <div class="image" style="background-image: url({{ post.thumbnail }})"></div>
      <div class="details">
        <h3>{{ post.title }}</h3>
      </div>
    </a>
    {% endfor %}
  </main>

  <div class="cta">
    <a class="cta"href="{{ site.baseurl }}/work">view all projects</a>
  </div>
</section>

<section id="about">
  <article class="fade-in">
    <div class="text">
      <h2>My story</h2>
      {% capture my-story %}{% include content/my-story.md %}{% endcapture %}
      {{ my-story | markdownify }}
    </div>
    <div class="image" style="background-image: url(https://source.unsplash.com/x7CDil50KKY)"></div>
  </article>

  <article class="fade-in">
    <div class="image" style="background-image: url(https://source.unsplash.com/OqtafYT5kTw)"></div>
    <div class="text">
      <h2>Programming</h2>
      {% capture programming %}{% include content/programming.md %}{% endcapture %}
      {{ programming | markdownify }}
    </div>
  </article>

  <article class="fade-in">
    <div class="text">
      <h2>Design</h2>
      {% capture design %}{% include content/design.md %}{% endcapture %}
      {{ design | markdownify }}
    </div>
    <div class="image" style="background-image: url(https://source.unsplash.com/mGH253KbfaY)"></div>
  </article>

</section>

{% include cta.html %}
