---
title: work
layout: default
permalink: /work/
---
{% include navbar.html style="dark" %}

<header class="work">
  <main class="fade-in now">
    <h2>I Create Delight</h2>
    <p>
      Take a look at my portfolio below to see what I've got.
      Are you looking for something specific? Try using the tags to narrow things down!
    </p>
  </main>
  <nav class="fade-in">
    <div class="tags">
      <a class="active" href="{{ site.baseurl }}/work">all tags</a>
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag[0] | slugify }}">{{ tag[0] }}</a>
      {% endfor %}
    </div>
    <div class="arrow">
      <i class="ion-ios-arrow-forward"></i>
    </div>
  </nav>
</header>

<section id="portfolio">
  {% for post in site.posts %}
  <a href="{{ post.url }}" class="item fade-in">
    <div class="image" style="background-image: url({{ post.thumbnail }})"></div>

    <div class="details">
      <h3>{{ post.title }}</h3>
    </div>
  </a>
  {% endfor %}
</section>

{% include cta.html %}
