/**
 * Loader animation #4 classes and keyframes.
 */

.loader-5 {
  height: 100px;
  width: 100px;

  border: .2rem solid $dark-color;
  border-radius: 50%;

  &:after {
    content: '';
    display: block;
    width: 4%;
    height: 65%;

    background: $accent-color;
    border-radius: 5000px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2%;

    animation: spin 2s linear infinite;
    transform-origin: top center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
