/**
 * Loader animation #2 classes and keyframes.
 */

.loader-2 {
  width: 100px;
  height: 100px;
  background-color: $dark-color;

  animation: loader-2 2s 0s infinite alternate;
}

@keyframes loader-2 {
  0%  {
    border-radius:0 0 0 0;
    background-color: $dark-color;
    transform: rotate(0deg);
  }
  12.5%  {
    border-radius:50% 0 0 0;
  }
  25%  {
    border-radius:50% 50% 0 0;
  }
  37.5%  {
    border-radius:50% 50% 50% 0;
  }
  50% {
    border-radius:50%;
    background-color: $accent-color;
    transform: rotate(135deg);
  }
  62.5% {
    border-radius:50% 50% 50% 0;
  }
  75% {
    border-radius:50% 50% 0 0;
  }
  87.5% {
    border-radius:50% 0 0 0;
  }
  100% {
    border-radius:0 0 0 0;
    background-color: $dark-color;
    transform: rotate(360deg);
  }
}
